{% set pageName = "Admin Panel" %}
{% extends "base.twig" %}

{% block header %}
	{% include 'header.twig' %}
{% endblock %}

{% block content %}
	{% spaceless %}
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					{% include 'admin-sidebar.twig' %}
				</div>
				<div class="col-lg-9 col-md-9">
					<div class="page-content">
						Welcome, {{username}}!
					</div>
				</div>
			</div>
		</div>
	{% endspaceless %}
{% endblock %}